---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '@/layouts/BlogPost.astro';
import { getEntry } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BlogPost {...post.data} >
	---
	<!-- <div class="fixed right-0">
		<ul>
			{headings.map(e => <li ><a href={`#${e.slug}`}>{e.text}</a></li>)}
		</ul>
	</div> -->
	<Content />
	<!-- {JSON.stringify(post.data.author.id)} -->
</BlogPost>
