---
// component imports
import MainLayout from "../../layouts/MainLayout.astro"
---


<MainLayout>
	<div class="h-screen container">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam officiis culpa architecto alias id ad sed similique unde ducimus, officia laborum error nulla nostrum tempore aspernatur assumenda distinctio blanditiis adipisci?
	</div>
</MainLayout>