---
// component imports
import MainLayout from "@/layouts/MainLayout.astro"
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---


<MainLayout>
	<div>
		{posts.map(item => <a>{item.data.title}</a>)}
	</div>
</MainLayout>