---
// component imports
import GlobalLayout from "@/layouts/Global.astro"
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---


<GlobalLayout>
	<div class="text-foreground/60">
		No content
		<!-- {posts.map(post => <a href={`/blog/${post.slug}`}>{post.data.title}</a>)} -->
	</div>
	
</GlobalLayout>