---
// component imports
import MainLayout from "@/layouts/MainLayout.astro";
import { Button } from "@/components/ui/button";
---

<MainLayout>
	<div class="h-screen container flex flex-col items-center justify-center">
		<p class="text-6xl text-bold h-200">Welp, this is awkward!</p>
		<p class="">We seem to have misplaced somthing...</p>
		<a href="/" class="my-8"><Button>Go Home</Button></a>
	</div>
</MainLayout>
