---
// component imports
import GlobalLayout from "@/layouts/Global.astro";
---

<GlobalLayout title="Home">
	<section class="relative grid grid-cols-1 md:grid-cols-2">
		<div class="h-screen flex flex-col item-center justify-center text-center md:text-left -mt-24">
			<p class="text-6xl text-bold text-wrap">Hi, I'm Plangton</p>
			<p class="">Debugging IRL, dominating in-game.</p>
		</div>
		<div class="h-screen flex items-center justify-center -mt-24">
			<img class="object-cover" src="/images/hi.jpg" />
		</div>
	</section>
	<div class="border-b w-1/2 my-16 mx-auto"></div>
	<section>
		<p class="text-3xl text-bold text-wrap text-center">ABOUT ME</p>
		<section class="my-8">
			<div class="group-date">
				<h2 class="group-date-text">CHILDHOOD</h2>
			</div>
			<div class="timeline">
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">March 2013</span>
						<h3 class="text-gray-500">Rabiab Phittaya School</h3>
						<p class="text-gray-500">
							Graduated from elementary school at Rabiab Phittaya School
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">June 2013</span>
						<h3 class="text-gray-500">Piriyalai School Phrae</h3>
						<p class="text-gray-500">
							Attend high school at Piriyalai School Phrae
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">March 2017</span>
						<h3 class="text-gray-500">POSN</h3>
						<p class="text-gray-500">
							Participated in the second round of the Computer Olympiad at Chiang Mai University
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">March 2018</span>
						<h3 class="text-gray-500">POSN</h3>
						<p class="text-gray-500">
							Participated in the second round of the Matermatic Olympiad at Chiang Mai University
						</p>
					</div>
				</div>
		
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">May 2018</span>
						<h3 class="text-gray-500">TMO</h3>
						<p class="text-gray-500">
							Participated in Thailand Matermatic Olympiad (TMO 15th)
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">March 2019</span>
						<h3 class="text-gray-500">Piriyalai School Phrae</h3>
						<p class="text-gray-500">
							Graduated from high school at Piriyalai School Phrae
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="">
			<div class="group-date">
				<h2 class="group-date-text">UNIVERSITY</h2>
			</div>
			<div class="timeline">
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">Auguest 2019</span>
						<h3 class="text-gray-500">Chulalongkorn University</h3>
						<p class="text-gray-500">
							Start a program in Computer Engineering at Chulalongkorn University.
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">June 2020</span>
						<h3 class="text-gray-500">Student Government of Chulalongkorn University</h3>
						<p class="text-gray-500">
							Join student government of Chulalongkorn University in Information System Development Team as backend developer
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">November 2020</span>
						<h3 class="text-gray-500">LINE Hackathon</h3>
						<p class="text-gray-500">
							LINE Hack 2020, “Life on LINE” – 1st Runner-up
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">June - August 2022</span>
						<h3 class="text-gray-500">LINE MAN Wongnai</h3>
						<p class="text-gray-500">
							Intern Program 2022 - Software Engineer, Backend (Go)
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">Aug 2023</span>
						<h3 class="text-gray-500">Work And Travel</h3>
						<p class="text-gray-500">
							Participated in the Work and Travel program in the United States, Maryland, as a lifeguard at Great Wolf Lodge.
						</p>
					</div>
				</div>
				<div class="relative">
					<div class="dot"></div>
					<div class="pl-10">
						<span class="timeline-date">May - August 2023</span>
						<h3 class="text-gray-500">Work And Travel</h3>
						<p class="text-gray-500">
							Participated in the Work and Travel program in the United States, Maryland, as a lifeguard at Great Wolf Lodge.
						</p>
					</div>
				</div>
			</div>
		</section>
	</section>
</GlobalLayout>
