---
// component imports
import GroupDate from "@/components/timline/GroupDate.astro";
import Timeline from "@/components/timline/Timeline.astro";
import GlobalLayout from "@/layouts/Global.astro";
---

<GlobalLayout title="Personal website">
	<section class="relative grid grid-cols-1 lg:grid-cols-2">
		<div
			class="h-screen flex flex-col item-center justify-center text-center lg:text-left -mt-24"
		>
			<p class="text-6xl text-bold text-wrap">Hi, I'm Plangton</p>
			<p class="">Debugging IRL, dominating in-game.</p>
		</div>
		<div class="h-screen flex items-center justify-center -mt-24 pt-36">
			<img class="object-cover" src="/images/me.jpg" alt="hero image"/>
		</div>
	</section>
	<div class="border-b w-1/2 my-16 mx-auto"></div>
	<section id="about-me">
		<h1 class="text-3xl text-bold text-wrap text-center">ABOUT ME</h1>
		<GroupDate groupDateText="CHILDHOOD">
			<Timeline
				date="March 2013"
				title="Rabiab Phittaya School"
				details="Graduated from elementary school at Rabiab Phittaya School"
			/>
			<Timeline
				date="June 2013"
				title="Piriyalai School Phrae"
				details="Attend high school at Piriyalai School Phrae"
			/>
			<Timeline
				date="March 2017"
				title="POSN"
				details="Participated in the second round of the Computer Olympiad at Chiang Mai University"
			/>
			<Timeline
				date="March 2018"
				title="POSN"
				details="Participated in the second round of the Matermatic Olympiad at Chiang Mai University"
			/>
			<Timeline
				date="May 2018"
				title="TMO"
				details="Participated in Thailand Matermatic Olympiad (TMO 15th)"
			/>
			<Timeline
				date="March 2019"
				title="Piriyalai School Phrae"
				details="Graduated from high school at Piriyalai School Phrae"
			/>
		</GroupDate>
		<GroupDate groupDateText="UNIVERSITY">
			<Timeline
				date="Auguest 2019"
				title="Chulalongkorn University"
				details="Start a program in Computer Engineering at Chulalongkorn University."
			/>
			<Timeline
				date="June 2013"
				title="Student Government of Chulalongkorn University"
				details="Join student government of Chulalongkorn University in Information System Development Team as backend developer"
			/>
			<Timeline
				date="November 2020"
				title="LINE Hackathon"
				details="LINE Hack 2020, “Life on LINE” – 1st Runner-up"
			/>
			<Timeline
				date="June - August 2022"
				title="LINE MAN Wongnai"
				details="Intern Program 2022 - Software Engineer, Backend (Go)"
			/>
			<Timeline
				date="Aug 2023"
				title="Chulalongkorn University"
				details="The University Council admitted the Bachelor of Engineering Degree (1st Class Honours)"
			/>
			<Timeline
				date="May - August 2023"
				title="Work And Travel"
				details="Participated in the Work and Travel program in the United States, Maryland, as a lifeguard at Great Wolf Lodge."
			/>
		</GroupDate>
	
	</section>
</GlobalLayout>
