---
// component imports
import ProjectCard from "@/components/ProjectCard.astro";
import GlobalLayout from "@/layouts/Global.astro";
---

<GlobalLayout title="Projects" description="ผลงานที่เคยทำ">
	<div class="grid space-y-6">
		<ProjectCard
			title="Personal Blog"
			createdAt="January 2024"
			description="My personal website"
			techStack={["Astro (typescript)", "Shadcn/UI"]}
			url="https://www.piyaphat.com"
		>
			<ul class="ml-8 list-disc">
				<li>About me</li>
				<li>Projects showcase</li>
				<li>Web blog with categories</li>
				<li>
					The source code is available on<!-- -->
					<a
						href="https://www.github.com/remove158/piyaphat.com"
						target="_blank"
						rel="noreferrer"
						class="font-medium underline underline-offset-4">GitHub</a
					>.
				</li>
			</ul>
		</ProjectCard>
		<ProjectCard
			title="Share a Bill"
			createdAt="May 2022"
			description="เว็บไซต์สำหรับหารบิลกับเพื่อนแบบ realtime"
			techStack={["Next.js (typescript)", "Firebase Firestore", "Material UI"]}
			url="https://bill.piyaphat.com"
		>
			<ul class="ml-8 list-disc">
				<li>แชร์ให้เพื่อนช่วยแก้ไข/ดู</li>
				<li>แก้ไขได้แบบเรียลไทม์</li>
				<li>เพิ่ม/แก้ไข รายการอาหาร</li>
				<li>คำนวณค่าใช้จ่ายแยกรายบุคคล</li>
				<li>QR-Code Promptpay</li>
				<li>
					The source code is available on<!-- -->
					<a
						href="https://www.github.com/remove158/weshare"
						target="_blank"
						rel="noreferrer"
						class="font-medium underline underline-offset-4">GitHub</a
					>.
				</li>
			</ul>
		</ProjectCard>
		<ProjectCard
			title="WordPress"
			createdAt="Oct 2022"
			description="Init wordpress with terraform"
			techStack={["Wordpress", "Amazon S3", "Terraform"]}
			url="https://github.com/remove158/wordpress-with-s3"
		>
			<ul class="ml-8 list-disc">
				<li>Init wordpress with s3 by terraform script</li>
				<li>
					The source code is available on <a
						href="https://github.com/remove158/wordpress-with-s3"
						target="_blank"
						rel="noreferrer"
						class="font-medium underline underline-offset-4">GitHub</a
					>.
				</li>
			</ul>
		</ProjectCard>
		<ProjectCard
			title="Chula SSO Mock"
			createdAt="Dec 2022"
			description="A standalone chula-sso-mock based on chula-sso"
			techStack={["Golang", "Gin Web Framework"]}
			url="https://www.github.com/remove158/chula-sso"
		>
			<ul class="ml-8 list-disc">
				<li>
					A standalone chula-sso-mock based on <a
						href="https://account.it.chula.ac.th/wiki/doku.php"
						target="_blank"
						rel="noreferrer"
						class="font-medium underline underline-offset-4">Chula SSO</a
					>
				</li>
				<li>
					The source code is available on <a
						href="https://www.github.com/remove158/chula-sso"
						target="_blank"
						rel="noreferrer"
						class="font-medium underline underline-offset-4">GitHub</a
					>.
				</li>
			</ul>
		</ProjectCard>
		<ProjectCard
			title="TOEIC Vocab"
			createdAt="May 2023"
			description="Website for practicing TOEIC vocabulary"
			techStack={["Sveltekit (typescript)", "GraphQL (yoga)", "TailwindCSS"]}
			url="https://toeic-vocab.piyaphat.com"
		>
			<ul class="ml-8 list-disc">
				<li>สุ่มคำถามจาก 3 หมวด 1) Meaning 2) PartOfSpeech 3) Synonyms</li>
				<li>มีตัวอย่างประโยคให้ดู</li>
				<li>
					The source code is available on <a
						href="https://www.github.com/remove158/toeic"
						target="_blank"
						rel="noreferrer"
						class="font-medium underline underline-offset-4">GitHub</a
					>.
				</li>
			</ul>
		</ProjectCard>
		<ProjectCard
		title="Discord Music Bot"
		createdAt="Jan 2024"
		description="Node.js discord music bot"
		techStack={["Discord.js (typescript)", "Lavalink", "Websocket","Gemini"]}
		url="https://discord.com/api/oauth2/authorize?client_id=805856620026265610&permissions=3214336&scope=bot%20applications.commands"
	>
		<ul class="ml-8 list-disc">
			<li>Play music via youtube</li>
			<li>Discord interaction</li>
			<li>Gemini</li>
			<li>
				The source code is available on <a
					href="https://github.com/remove158/discord_v2"
					target="_blank"
					rel="noreferrer"
					class="font-medium underline underline-offset-4">GitHub</a
				>.
			</li>
		</ul>
	</ProjectCard>

	</div>
</GlobalLayout>
